apiVersion: v1
kind: Secret
metadata:
  name: piped-config
  namespace: piped
stringData:
  config.properties: |
    FRONTEND_URL: https://piped.${CLUSTER_DOMAIN}
    API_URL: https://piped-api.${CLUSTER_DOMAIN}
    PROXY_PART: https://piped-proxy.${CLUSTER_DOMAIN}
    
    FEED_RETENTION: 30
    HTTP_WORKERS: 4
    PORT: 8080
      
    hibernate.connection.driver_class: org.postgresql.Driver
    hibernate.connection.url: jdbc:postgresql://postgres-cluster-rw.cloudnative-pg.svc.cluster.local:5432/${POSTGRES_DB}
    hibernate.connection.username: ${POSTGRES_USER}
    hibernate.connection.password: ${POSTGRES_PASS}
