apiVersion: batch/v1
kind: CronJob
metadata:
  name: restart-deployment
  namespace: democratic-csi
spec:
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 2
  concurrencyPolicy: Forbid
  schedule: '0 */6 * * *' # Every 6h
  jobTemplate:
    spec:
      backoffLimit: 2 
      activeDeadlineSeconds: 600 
      template:
        spec:
          serviceAccountName: restart-deployment
          restartPolicy: Never
          containers:
            - name: restart-iscsi-deployment
              image: bitnami/kubectl@sha256:f9cf1d266a4b475289d3fe3467ccd3897bad71778d7eb989545283eb5834bb4e 
              command:
                - 'kubectl'
                - 'rollout'
                - 'restart'
                - 'deployment/democratic-csi-ssd-iscsi-controller'
            - name: restart-nfs-deployment
              image: bitnami/kubectl@sha256:f9cf1d266a4b475289d3fe3467ccd3897bad71778d7eb989545283eb5834bb4e 
              command:
                - 'kubectl'
                - 'rollout'
                - 'restart'
                - 'deployment/democratic-csi-ssd-nfs-controller'