apiVersion: batch/v1
kind: Job
metadata:
  name: cmd-volume
  namespace: ${namespace}

spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: volume-cmd
        image: alpine@sha256:be171b562d67532ea8b3c9d1fc0904288818bb36fc8359f954a7b7f1f9130fb2
        imagePullPolicy: IfNotPresent

        command: [ "/bin/sh" ]
        args:
          - -c
          - ${command}

        volumeMounts:
          - name: volume
            mountPath: /volume

      volumes:
        - name: volume
          persistentVolumeClaim:
            claimName: ${volume}
