apiVersion: batch/v1
kind: Job
metadata:
  name: cmd-volume
  namespace: ${namespace}

spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: volume-cmd
        image: alpine@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
        imagePullPolicy: IfNotPresent

        command: [ "/bin/sh" ]
        args:
          - -c
          - ${command}

        volumeMounts:
          - name: volume
            mountPath: /volume

      volumes:
        - name: volume
          persistentVolumeClaim:
            claimName: ${volume}
