apiVersion: batch/v1
kind: Job
metadata:
  name: cmd-volume
  namespace: ${namespace}

spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: volume-cmd
        image: alpine@sha256:51183f2cfa6320055da30872f211093f9ff1d3cf06f39a0bdb212314c5dc7375
        imagePullPolicy: IfNotPresent

        command: [ "/bin/sh" ]
        args:
          - -c
          - ${command}

        volumeMounts:
          - name: volume
            mountPath: /volume

      volumes:
        - name: volume
          persistentVolumeClaim:
            claimName: ${volume}
